# =========================
# Python related
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environment
.venv/
env/
venv/

# =========================
# VS Code related
# =========================
.vscode/
*.code-workspace

# =========================
# Airflow related
# =========================
# Airflow logs
airflow_home/logs/
logs/
# SQLite DB
airflow_home/airflow.db
# Airflow config sensitive files
airflow_home/simple_auth_manager_passwords.json.generated
# Temporary pickle files
airflow_home/*.pickle
# Cache folders
airflow_home/__pycache__/

# =========================
# Docker related
# =========================
docker-compose.override.yml
*.log
*.pid
*.swp
*.swo

# =========================
# Project specific
# =========================
# Generated versions info
current_versions.txt

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db
airflow_home/airflow-api_server.err
airflow_home/airflow-api_server.out
airflow_home/airflow-dag-processor.err
.gitignore
airflow_home/airflow-scheduler.err
airflow_home/airflow-scheduler.out
airflow_home/airflow-dag-processor.out
airflow_home/airflow-triggerer.err
airflow_home/airflow-triggerer.log
airflow_home/airflow-triggerer.out
airflow_home/airflow-triggerer.pid
